API_ID= 9330660
API_HASH=df0299f9621333a0619c2aa6767ae244
BOT_TOKEN=6940060823:AAGAvSReQd81pdRENT7gZdPKi3qdr0tWs6k
MONGO_DB_URI=mongodb+srv://Akash:Akash@akash.cbqfo1w.mongodb.net/?retryWrites=true&w=majority&appName=Akash
LOGGER_ID=-1002442457914
OWNER_ID=7437391731
STRING_SESSION=BQCOX-QAd09erECDrT7AWQfL91VnkPcly_USxzfbyr5ddTmaDZNNwe-c7elffnWBMOHRkxXnTr-zFUEW5mSX5TLylxSaedpiOqaxBT53O4ZBOpFF1-BOxlPW68fkzrPBAzSaMc_RnwSDYLQK59PxPnDC6WVXZvI2d9aJH_AwI2bav_QupH_lzZuuRYBarha776Pf-G7k5nqoStsuNDXNndYE8U3amdUinZVwijdD21tpVQiYJQKsYfDxdmem_bzo4U9DbhROOYDlJadaAGrVfD1ElD2KkGlr32MsET3Sml0avA1-qmZTr_6RHJWhKGT6JjQ6IfHLZc6FNYTDBAHiEyIIG9mNWAAAAAHWA_57AA
