API_ID= 20222141
API_HASH=a769652aaec1fa865d40f3969c408628
BOT_TOKEN=8168859873:AAEYHv1kaczc3nPjcvEvN6Toh9AH0efO3_k
MONGO_DB_URI=mongodb+srv://bairagixd:xHZnmMH5rNvLjk0K@cluster0.hcc5bcl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002442457914
OWNER_ID=8066923682
STRING_SESSION=BQE0kL0Aov9OtOCwTrI8nxN6783qzaJif4aDVhfd31sW6L5eNrw9X-9m4jixp4g08DnhpOXPyPCUXsucylzTL3UMdpGWdZMX76CRcccwGKwpkn6v1pLA0IHyV2FU7lcgj25IFWw5uJdDnqdgRByeTDmQuRtl6CgiLfDYly1JaXAFgiER4cVrAVWu0gyQUgOMX_-lYiGJUBnLrjHr4UjHKA4HFF0XyhRJiFwF9II_3jA0TltCQRXXhfM34qmxTAXN7tKR44lu_FcBAWi9DZQb7A8DSypfuxONBMh5eM52h46Rz1hz5v_GP3pH3B808NyaacAZg_xvQLmqFjzPWvp4qUXG_OzYdAAAAAEu4omkAA